{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Статистики' %}

{% block page_content %}
    <h5>Среден успех на студентите: {{ average_grades }}</h5>
    <hr>
    <h6>Най-добри студенти:</h6>

    <table class="table datagrid">
        <thead>
            <tr>
                <td style="color: grey; font-weight: bold">
                    Име
                </td>
                <td style="color: grey; font-weight: bold">
                    Фамилия
                </td>
                <td style="color: grey; font-weight: bold">
                    Среден успех
                </td>
            </tr>
        </thead>
        <tbody>
        {% for student in top_10_students %}
            <tr>
                <td>
                    {{ student.firstName }}
                </td>
                <td>
                    {{ student.lastName }}
                </td>
                <td>
                    {{ student.averageGradeCalculated }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <h6>Средни успехи по дисциплини:</h6>

    <table class="table datagrid">
        <thead>
            <tr>
                <td style="color: grey; font-weight: bold">
                    Дисциплина
                </td>
                <td style="color: grey; font-weight: bold">
                    Среден успех
                </td>
            </tr>
        </thead>
        <tbody>
        {% for discipline in average_grades_per_discipline %}
            <tr>
                <td>
                    {{ discipline.discipline.name }}
                </td>
                <td>
                    {{ discipline.average }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
